- content_for :title do
  All the badges for #{@user.login}
%h2
  = @user.login
  = link_to @user.github_url do
    %small.subheader on GitHub
.section-container.auto{ data: { section: true } }
  %section
    %p.title{ data: { section: { title: true } } }= link_to 'Sources', '#sources'
    #sources.content{ data: { section: { content: true } } }
      %table
        = render @user.repos.reject(&:fork)
  %section
    %p.title{ data: { section: { title: true } } }= link_to 'Forks', '#forks'
    #forks.content{ data: { section: { content: true } } }
      %table
        = render @user.repos.select(&:fork)