.antialiased.off-canvas.hide-extras.content-body
  %nav.top-bar.fixed.contain-to-grid
    %ul.title-area
      %li.name.left
        %h1
          = link_to 'All the Badges', root_path
      %li.badges.left
        = render 'repos/repo', repo: application_repo
    .top-bar-section
      %ul.right
        %li= link_to 'Find My Badges', root_path
        // %li= link_to 'About', '#'
  .row
    = body
.footer
  .row
    %h6.subheader
      = link_to 'allthebadges.io', root_path
      \: an
      = link_to 'open source', application_repo.html_url
      creation by
      = link_to 'Jason Waldrip', user_url(application_user)