.antialiased.off-canvas.hide-extras.content-body
  %nav.top-bar.fixed.contain-to-grid
    %ul.title-area
      %li.name
        %h1
          = link_to 'All the Badges', root_path
    .top-bar-section
      %ul.left
        %li= link_to 'Find My Badges', root_path
        // %li= link_to 'About', '#'
  .row
    = body
.footer
  .row
    %h6.subheader
      = link_to 'allthebadges.io', root_path
      \: a creation by
      = link_to 'Jason Waldrip', user_path('jwaldrip')